{% extends 'main/layout.html' %}
{% block title %} Notes {% endblock %}
{% block styles %} /static/main/main_styles.css {% endblock %}
{% block body %}
<div id="nav">
    <button id="1" class="btn" v-on:click="toggle"
        v-bind:class="{'btn-success' : button_1, 'btn-outline-success' : !button_1}">
        Notes</button>
    <button id="2" class="btn" v-on:click="toggle"
        v-bind:class="{'btn-success' : button_2, 'btn-outline-success' : !button_2}">
        Add Note</button>
    <button id="3" class="btn" v-on:click="toggle"
        v-bind:class="{'btn-danger' : button_3, 'btn-outline-danger' : !button_3}">
        Delete All Notes </button>
</div>
<div v-if="seen" id="vm1">
    <ul class="list-group">
        <note v-for="note in notes" v-bind:note="note"> </note>
    </ul>
</div>
<div v-if="seen" id="vm2">
    <form method="POST" v-on:submit.prevent="new_note">
        <label class="form-label">Note Title</label>
        <input type="text" name="title" class="form-control">
        <label class="form-label">Note Body</label>
        <textarea class="form-control" name="body"> </textarea>
        <label class="form-label"> (Optional) Note Image </label>
        <input type="url" placeholder="Please input your image's URL." name="image" class="form-control">
        <label class="form-label">Note Category</label>
        <select name="category" class="form-select" v-bind:class="category" v-on:change="categorize">
            <option value="studying" class="studying">Studying</option>
            <option value="achievement" class="achievement">Achievement</option>
            <option value="work" class="work">Work</option>
            <option value="deadline" class="deadline">Deadline</option>
            <option value="reminder" class="reminder">Reminder</option>
            <option value="other" class="other">Other</option>
        </select>
        <input type="submit" class="btn btn-primary" id="save" value="Submit">
    </form>
</div>
<div v-if="seen" id="vm3">
    <p>Are you sure? <strong>This is irreversible.</strong></p>
    <button v-on:click="wipe" class="btn btn-danger">Confirm</button>
    <button v-on:click="back" class="btn btn-secondary">Go Back</button>
</div>
{% endblock %}
{% block script %} /static/main/index.js {% endblock %}